PowerPlatform/Solutions/Crosswalk/Unmanaged/Workflows/02ScoreBCMProgramEstablished-CFD1A3BE-8003-F011-BAE3-6045BDCCE2C9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "emcr_sharedcommondataserviceforapps_c9deb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "d7368e09-6320-440c-b0f3-38452c653bb7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "emcr_readinessindexsurvey",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emcr_ministrybusinesscontinuityadvisor"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c5db6fcc-556e-4f49-af97-9b74f440b69a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emcr_readinessindexsurveies",
                  "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                  "item/emcr_scorebcmprogramestablished": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Update_a_row_1": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b566e83a-1468-493b-bc81-416889d6f0d7"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "emcr_readinessindexsurveies",
                    "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                    "item/emcr_scorebcmprogramestablished": 0
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/emcr_ministrybusinesscontinuityadvisor']",
                  717350000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "2f61b9c9-46f1-4857-9664-a1e12905af4b"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}