PowerPlatform/Solutions/ReadinessIndex/Managed/Workflows/35ScoreRecoveryStrategies-00244F78-8003-F011-BAE3-6045BDF9A2EB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "emcr_sharedcommondataserviceforapps_c9deb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "7d98d572-af50-44a3-aeb7-099799f0c90a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "emcr_readinessindexsurvey",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emcr_strategyselectiontraining"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Set_Value_to_1": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b49c11ce-1a27-449d-b996-bca606804d2f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emcr_readinessindexsurveies",
                  "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                  "item/emcr_scorerecoverystrategies": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Set_Value_to_0": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "043cc518-efea-43eb-b336-7ece987b2f17"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "emcr_readinessindexsurveies",
                    "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                    "item/emcr_scorerecoverystrategies": 0
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/emcr_strategyselectiontraining']",
                  717350000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "806bad3a-c1c8-410a-b703-60f540b73afd"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}