PowerPlatform/Solutions/ReadinessIndex/Managed/Workflows/61ScoreMOCTabletop-29F9D19D-C504-F011-BAE2-6045BDCCE2C9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "emcr_sharedcommondataserviceforapps_c9deb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "3b29a987-49a9-4f50-bdb6-5eaa37c25b2a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "emcr_readinessindexsurvey",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emcr_moctabletopconducted"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Set_Value_to_1": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5a55d366-6507-4982-9880-c00d0ef8e72d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emcr_readinessindexsurveies",
                  "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                  "item/emcr_scoremoctabletop": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Set_Value_to_0": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4114783b-6fef-4b3a-9398-91123eabaac0"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "emcr_readinessindexsurveies",
                    "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                    "item/emcr_scoremoctabletop": 0
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/emcr_moctabletopconducted']",
                  717350000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "285cb7a8-3598-4a39-9d2f-a3abcd446e97"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}