PowerPlatform/Solutions/ReadinessIndex/Unmanaged/Workflows/71ScoreMinistryExecApproval-140DB8A6-C904-F011-BAE2-6045BDCCE2C9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "emcr_sharedcommondataserviceforapps_c9deb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "3816a888-3b7d-4e70-8f2e-9ad3826ab160"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "emcr_readinessindexsurvey",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emcr_ministryexecapproval"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Set_Value_to_1": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "186fb42f-2921-4480-893d-0064e863feac"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emcr_readinessindexsurveies",
                  "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                  "item/emcr_scoreministryexecapproval": 1,
                  "item/emcr_totalscoreapproval": 1,
                  "item/emcr_totalscoreapprovalpercentage": 100
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Value_to_0": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "03b36c16-1c4f-44f3-8e0c-bf14d35cbead"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "emcr_readinessindexsurveies",
                    "recordId": "@triggerOutputs()?['body/emcr_readinessindexsurveyid']",
                    "item/emcr_scoreministryexecapproval": 0,
                    "item/emcr_totalscoreapproval": 0,
                    "item/emcr_totalscoreapprovalpercentage": 0
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/emcr_ministryexecapproval']",
                  717350000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "f0765258-7a25-413b-b94e-6c7e6965294a"
          },
          "type": "If"
        },
        "Delay": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a56e3db5-d525-4ed6-a639-1e3df3afc235"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 1,
              "unit": "Minute"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}